body {
  background-image: url("https://media0.giphy.com/media/EtRVjAGRvyiNq/giphy.gif?cid=6c09b952q0nwjwesulxmhlei31mgmm2ggzjhz7o2wos8xo2t&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  min-height: 100vh;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #242c43;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
